<div class="block">
  <div class="line">
    <span>
      <img src="https://lh3.googleusercontent.com/_jn4LpMgCwiSmbx2S4Gc-Z6aQ-T-35KIl3WPm8RGuC_-flWHPdFrW7B1xLBWMj9V5upTeBwr0z1c3EBwh2-rSw66M6OCHT_6hu0xbD8wY7Ii_j_6tMl2zz7NZwijLRfUezO1VbhFomv48rxYk5xnPGI7IBVaTluvbxiItt5bFj0-D4ME_q1PpTllRYYRLkXkzSvNYqjqnbNsHHv0izNdxopujS_uXyZSCAHX2HWi4V5fqbIlE_iE1Pydjjk4QOJUZ4qade5mhklFy1zPO04cPeU_NUiAlX0YyKUbzInXAQ-GTcdrYBSX6l7_LufxyhUi4PI1C57TAtOqSIcfZCCeWGLxhXIyx3Gwv9bVOuXPlVlodkENPfoVZW_MSjmchjHWnOp-v3CcZ3oTiGAjA-LcpVYbhUgBS-c_rgIhLeynSUrBS8MnA51JF0jIykEIUKkhOKWEmVpMk2PmoWdQwP3sDJMheafNtfNVDkriU_Vl1tubKvmWnTpDWK6EPOB4FfUOxZY9kBD6Wsh5o7CAb19LnFOzJhvArBnYbrkFCTfJShibiAahh4zlos5iMknnzqLngX0_X6MBQs3e1-kcLmBkl7SYz9PnAXzN4dguT0HFA03JwETDc1fYb89-kNpWpKFJPzqXfomx-TsQwZ4Y4I_78ASTP8q5rxzEjXG6Rywx54yGMEGNGE4bzzv9i3hO=s129-no?authuser=1">
    </span>
    <span>
        <input>
        <button>Search</button>
    </span>
    <span>
      <img src="https://lh3.googleusercontent.com/MOxgdEwJ5nBa_s6w1gGxLlin31Km0sIwkJqH_lTOonwlQ2V6Ffa58PTSBrKtR0AN4IbYKO4y_AmvDWMlAwtIz_hoG9ylKpAisNSU9UKJ2ie8fIhmRLMycyg8C-9mWi4K5jZ_XYgigv36fyitYUkTbpkl2Q7OXj2-nGUxeYm6SHKe07OeqrDKpWwAgqzvK0V-cudn3y24EEUgMOiQchPJ8fJhwDMZDWW9fNF6sqCgpKBsjYzoh0aDcQxmEjU9gBE3Sn4c3yNkXNAdtJals3z1M2Ngp3Hp4vCxZlh4e2rs2YVd2HlO6b460M_n-cXbt0u5AH8MddzEgBDTjoLPdJMgQTkK4trd8UeRY1bgIGzK4ACbhMv_KyTJAYHxyrpll41CpcXUsBe8WFfY20cq-mLT0sbPka6HIxNU_sSnKkup07PNIt2Ubf-hys8so4bo1PLwv1lR4U-HxumzYtRYqszlhppkEEs4mjUCXLyQLviTSTJeuYyq31RqJBZ-NHEkG7DAGgJUF_YU2pyOdHEHyUabpdQI0egHNJH9aP-KjYX5fGra5hZ7BGSW0rxumPHDCb7jzRWNXaKPqph8yNqEweFcP-tJQ0QoN1Jn-KwJPZqM8MmfhNlGWmRLsa_CurxwFiivWPH70EHEUcODYh5bqmdViEb1YzNiWXJ1xH5fHZ-dOpeB8AwYuU4N_6dR0bE-=w672-h688-no?authuser=1">
    </span>
  </div>
</div>